<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table style="width: 100%;">
      <tr>
        <td>no.</td>
        <td>성명</td>
        <td>상세</td>
        <td>수정</td>
      </tr>
      <% saramList.forEach((i) => { %>
      <tr style="align: center;">
        <td><%= i.id %></td>
        <td><%= i.name %></td>
        <td><a href="http://localhost:8000/saram/detail?id=<%= i.id %>">상세보기</a></td>
        <td><a href="http://localhost:8000/saram/edit?id=<%= i.id %>">수정하기</a></td>
      </tr>
      <% }); %>
        <!-- <% for(let i of saramList) { %>
      <tr align="center">
        <td><%= i.phone %></td>
        <td><%= i.name %></td>
        <td><%= i.email %></td>
      </tr>
      <% } %> -->
      </tr>
    </table>
  </body>
</html>
